@import '../derived.sass'

button.button
    cursor: pointer
    text-transform: uppercase
    background-color: $primary
    border: none
    border-radius: 4px
    padding: 18px
    color: $button-color
    font-size: $text-medium
    font-weight: $font-weight-bold

    &:hover
        background-color: $primary-accent

    &:focus
        outline: none

    &.is-small
        padding: 9px 12px 7px 12px

    &.is-secondary
        background-color: $primary-black

span.icon
    cursor: pointer
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)