table.table
    width: 100%

    th, td
        &.is-narrow
            white-space: nowrap
            width: 1%

    & > thead
        background-color: white

        th
            font-size: $text-small
            padding: 14px 7px

        th:nth-last-child(1)
            border-radius: 0 6px 6px 0
            padding-right: 20px

        th:nth-child(1)
            border-radius: 6px 0 0 6px
            padding-left: 20px

    & > tbody
        background-color: white

        td
            font-size: $text-small
            padding: 14px 7px

            &.icon
                text-align: center

            &:nth-child(1)
                padding-left: 20px

            &:nth-last-child(1)
                padding-right: 20px

        tr:nth-child(1) 
            td:nth-child(1)
                border-radius: 6px 0 0 0

            td:nth-last-child(1)
                border-radius: 0 6px 0 0

        tr:nth-last-child(1)
            td:nth-child(1)
                border-radius: 0 0 0 6px

            td:nth-last-child(1)
                border-radius: 0 0 6px 0

        &:before
            line-height: 10px
            content: "."
            background: $backround-grey
            color: transparent
            display: block
