@import '../node_modules/typeface-roboto/index.css'

@import './derived'

p, span, h1, h2, h3, h4, h5, h6, input, button, a, label
    font-family: Roboto
    font-size: $text-medium

.title
    font-weight: 500
    font-size: $text-extra-large

.has-text-small
    font-size: $text-small

.has-text-medium
    font-size: $text-medium

.has-text-centered
    text-align: center

.is-uppercase
    text-transform: uppercase